{
  //   "plugins": [["@babel/plugin-transform-runtime", {
  //   "absoluteRuntime": false,
  //   "corejs": 2,
  //   "helpers": true,
  //   "regenerator": true,
  //   "useESModules": false
  // }]]
  presets: [
    [
      "@babel/preset-env", { 
        targets: {
          chrome: "67"
        },
        "useBuiltIns": "usage" // 根据浏览器做es6兼容
      }
    ]
  ]
}